<section id="section3" class="cd-section">
  <div class="wide-slide">
  <i class="twa twa-3x twa-bulb"></i>
  <i class="twa twa-3x twa-memo"></i>
  <i class="twa twa-3x twa-ship"></i>
    <h1>Have experience building </h1>
    <p>
      Experience using the following technologies.
    </p>
    <article class="subsection">
      <h2>Languages</h2>
      <ul>
        <li>
       		<%= link_to 'Go', 'https://golang.org/', target: '_blank', id: 'line-span' %>
        </li>
        <li>
        	<%= link_to 'HTML', 'http://rubyonrails.org/', target: '_blank', id: 'line-span' %>
        </li>
        <li>
       		<%= link_to 'CSS', 'http://backbonejs.org/', target: '_blank', id: 'line-span' %>
        </li>
        <li>
       		<%= link_to 'Javascript', 'http://getbootstrap.com/', target: '_blank', id: 'line-span' %>
        </li>
      </ul>
    </article>

    <article class="subsection">
      <h2>Frameworks</h2>
      <ul>
        <li>
        	<%= link_to 'Ruby on Rails', 'http://rubyonrails.org/', target: '_blank', id: 'line-span' %>
        </li>
        <li>
       		<%= link_to 'Backbone JS', 'http://backbonejs.org/', target: '_blank', id: 'line-span' %>
        </li>
        <li>
       		<%= link_to 'Bootstrap', 'http://getbootstrap.com/', target: '_blank', id: 'line-span' %>
        </li>
      </ul>
    </article>

    <article class="subsection">
      <h2>Databases</h2>
      <ul>
        <li>
       		<%= link_to 'MySql', 'http://www.mysql.com/', target: '_blank', id: 'line-span' %>
        </li>
        <li>
        	<%= link_to 'ClearDB', 'http://w2.cleardb.net/', target: '_blank', id: 'line-span' %>
        </li>
        <li>
        	<%= link_to 'PostgreSQL', 'https://www.postgresql.org/', target: '_blank', id: 'line-span' %>
        </li>
      </ul>
    </article>

    <article class="subsection">
      <h2>Libraries</h2>
      <ul>
        <li>
       		<%= link_to 'jQuery', 'https://jquery.com/', target: '_blank', id: 'line-span' %>
        </li>
        <li>
        	<%= link_to 'Lua Fun', 'https://github.com/rtsisyk/luafun', target: '_blank', id: 'line-span' %>
        </li>
      </ul>
    </article>
  </div>
</section>
