<section id="section2" class="cd-section">
  <div class="wide-slide">
    <i class="twa twa-3x twa-desktop-computer"></i>
    <i class="twa twa-3x twa-open-book"></i>
    <h1>
      Things I've done recently
    </h1>
    <p>
      While in the Tier 3 role, I've made 100+ contributions (PR's) to Shopify core.
      This section highlights various things I've done recently. Books I've read. Code I've shipped. And things I've learned.
    </p>
    <article class="thirdsection" id="recently-done">
      <h2>Books read</h2>
      <ul>
        <li>
           <%= link_to 'Practical Object-Oriented Design in Ruby', 'http://www.poodr.com/', target: '_blank', id: 'line-span' %>
        </li>
        <li>
          <%= link_to 'Agile Web Development with Rails 5', 'https://pragprog.com/book/rails5/agile-web-development-with-rails-5', target: '_blank', id: 'line-span' %>
        </li>
        <li>
           <%= link_to 'Google - Site Reliability Engineering', 'https://landing.google.com/sre/book.html', target: '_blank', id: 'line-span' %>
        </li>
      </ul>
    </article>

    <article class="thirdsection" id="recently-done">
      <h2>Code shipped</h2>
      <ul>
        <li>
           <%= link_to 'Shopify/shopify#86734', 'https://github.com/Shopify/shopify/pull/86734', target: '_blank', id: 'line-span' %>
        </li>
        <li>
          <%= link_to 'Shopify/shopify#83756', 'https://github.com/Shopify/shopify/pull/83756', target: '_blank', id: 'line-span' %>
        </li>
        <li>
           <%= link_to 'Shopify/shopify#84635', 'https://github.com/Shopify/shopify/pull/84635', target: '_blank', id: 'line-span' %>
        </li>
        <li>
           <%= link_to 'Shopify/shopify#85766', 'https://github.com/Shopify/shopify/pull/85766', target: '_blank', id: 'line-span' %>
        </li>
        <li>
           <%= link_to 'Shopify/shopify#84488', 'https://github.com/Shopify/shopify/pull/84488', target: '_blank', id: 'line-span' %>
        </li>
      </ul>
    </article>

    <article class="thirdsection" id="recently-done">
      <h2>Things learned</h2>
      <ul>
        <li>
           <%= link_to "Solving a Rubik's cube in under one minute.", "#", id: 'line-span' %>
        </li>
        <li>
          <%= link_to 'Mindfulness', 'http://rubyonrails.org/', target: '_blank', id: 'line-span' %>
        </li>
        <li>
           <%= link_to 'Guitar', 'http://backbonejs.org/', target: '_blank', id: 'line-span' %>
        </li>
      </ul>
    </article>
  </div>
</section>
