<section id="zendesk_section" class="cd-section">
  <div class="wide-slide">
  <h1>Zendesk API Example</h1>
  <p>yadayada</p>
	  <div class="pc-tab">
			<input checked="checked" id="tab3" type="radio" name="pct-2" />
			<input id="tab4" type="radio" name="pct-2" />
			<input id="tab5" type="radio" name="pct-2" />
		  <nav>
		    <ul>
		      <li class="tab3">
		        <label for="tab3">Create ticket</label>
		      </li>
		      <li class="tab4">
		        <label for="tab4">Search ticket id</label>
	        </li>
		      <li class="tab5">
		        <label for="tab5">Delete ticket id</label>
		      </li>
		    </ul>
		  </nav>
		  <section id="clear-both">
		    <div class="tab3">
		      <h2>Create ticket</h2><br>
		      <p id="zendesk_p">Submitting your details in this form creates Zendesk ticket using the [Zendesk Ruby API] to. On the right, your ticket live updates on the page with an ajax request.</p>
					<%= render 'tickets/new' %>
		    </div>
		    <div class="tab4">
		      <h2>Search ticket</h2>
		      <p id="zendesk_p">Search ticket id</p>
		      <%= render 'tickets/index_and_search' %>
		    </div>
		    <div class="tab5">
		      <h2>Delete ticket</h2>
		      <p id="zendesk_p">Delete ticket id</p>
					<%= form_tag(
						{ controller: 'tickets', action: 'destroy' },
						method: 'post',
						remote: true,
						data: { confirm: 'Are you sure you want to delete the ticket from Zendesk? This is an irreversible action' }
					) do %>
			    	<%= text_field_tag :id, params[:id], placeholder: 'Delete Ticket ID' %>
			    	<%= submit_tag 'Delete' %>
					<% end %>
		    </div>
		  </section>
	  </div>

	  <div class="pc-tab">
			<input checked="checked" id="tab1" type="radio" name="pct" />
			<input id="tab2" type="radio" name="pct" />
		  <nav>
		    <ul>
		      <li class="tab1">
		        <label for="tab1">Result</label>
		      </li>
		      <li class="tab2">
		        <label for="tab2">Logging</label>
		      </li>
		    </ul>
		  </nav>
		  <section id="clear-both">
		    <div class="tab1">
		      <h2>Result</h2>
		      <span id="ticket-create"></span>
		    </div>
		    <div class="tab2">
		      <h2>development.log</h2><br>
		      <p id="zendesk_p">The logs on this side poll updates live using ActionController::Live, etc</p>
					<pre><code id="logging"><%= logging %></code></pre>
		    </div>
		  </section>
	  </div>
	</div>
</section>

<%= javascript_tag do %>
  var event_source = new EventSource('/log_feed');
  event_source.addEventListener('message', function (event) {
    $("#logging").prepend(event.data + '\n');
  }, false);
<% end %>
