<section id="zendesk_section" class="cd-section">
  <div class="wide-slide">
  <h1>Zendesk API Example</h1>
  <p>
    The following is an example of the <%= link_to 'Zendesk Ruby API Client', 'https://github.com/zendesk/zendesk_api_client_rb', id: 'line-span', target: '_blank' %> I created. It allows the user to query, update, create, and delete tickets using the Zendesk API. It uses inline Ajax requests that update the rendered result forms in real time. 
  </p>
  <p>
    This example uses Rails <%= link_to 'ActionController::Live', 'http://api.rubyonrails.org/classes/ActionController/Live.html', id: 'line-span', target: '_blank' %> and EventSource to  poll a stream of the development/production.log files every 3 seconds to the browser as they are written. This process allows the user to view server side logs live, through the browser as new logs are created.
	</p>
	  <div class="pc-tab">
			<input checked="checked" id="tab3" type="radio" name="pct-2" />
			<input id="tab4" type="radio" name="pct-2" />
			<input id="tab5" type="radio" name="pct-2" />
		  <nav>
		    <ul>
		      <li class="tab3">
		        <label for="tab3">Create ticket</label>
		      </li>
		      <li class="tab4">
		        <label for="tab4">Search ticket id</label>
	        </li>
		      <li class="tab5">
		        <label for="tab5">Delete ticket id</label>
		      </li>
		    </ul>
		  </nav>
		  <section id="clear-both">
		    <div class="tab3">
		      <h2>Create ticket</h2>
		      <p id="zendesk_p">Submit your details below to create a Zendesk ticket. Under the Result tab, the ticket output will be rendered through an Ajax request.</p>
					<%= render 'tickets/new' %>
		    </div>
		    <div class="tab4">
		      <h2>Search ticket</h2>
		      <p id="zendesk_p">Search ticket id</p>
		      <%= render 'tickets/index_and_search' %>
		    </div>
		    <div class="tab5">
		      <h2>Delete ticket</h2>
		      <p id="zendesk_p">Delete ticket id</p>
					<%= form_tag(
						{ controller: 'tickets', action: 'destroy' },
						method: 'post',
						remote: true,
						data: { confirm: 'Are you sure you want to delete the ticket from Zendesk? This is an irreversible action' }
					) do %>
			    	<%= text_area_tag :id, params[:id], placeholder: 'Delete Ticket ID', class: 'feedback-input' %>
			    	<%= submit_tag 'Delete', id: 'submit-button' %>
					<% end %>
		    </div>
		  </section>
	  </div>

	  <div class="pc-tab">
			<input checked="checked" id="tab1" type="radio" name="pct" />
			<input id="tab2" type="radio" name="pct" />
		  <nav>
		    <ul>
		      <li class="tab1">
		        <label for="tab1">Result</label>
		      </li>
		      <li class="tab2">
		        <label for="tab2">Logging</label>
		      </li>
		    </ul>
		  </nav>
		  <section id="clear-both">
		    <div class="tab1">
		      <h2>Result</h2><br>
		      <span id="ticket-create"></span>
		    </div>
		    <div class="tab2">
		      <h2>development.log</h2><br>
		      <p id="zendesk_p">The following is a view of server side logs, polled live every 3 seconds.</p>
					<pre><code id="logging"><%= logging %></code></pre>
		    </div>
		  </section>
	  </div>
	</div>
</section>

<%= javascript_tag do %>
  var event_source = new EventSource('/log_feed');
  event_source.addEventListener('message', function (event) {
    $("#logging").prepend(event.data + '\n');
  }, false);
<% end %>
