<nav id="cd-vertical-nav">
  <ul>
    <li>
    	<%= link_to '#section1', data: { number: 1 } do %>
        <span class="cd-dot"></span>
        <span class="cd-label">About</span>
      <% end %>
    </li>
    <li>
      <%= link_to '#section5', data: { number: 2 } do %>
        <span class="cd-dot"></span>
        <span class="cd-label">Zendesk API</span>
      <% end %>
    </li>
    <li>
      <%= link_to '#section2', data: { number: 3 } do %>
        <span class="cd-dot"></span>
        <span class="cd-label">Recently</span>
      <% end %>
    </li>
    <li>
      <%= link_to '#section3', data: { number: 4 } do %>
        <span class="cd-dot"></span>
        <span class="cd-label">Technologies</span>
      <% end %>
    </li>
    <li>
      <%= link_to '#section4', data: { number: 5 } do %>
        <span class="cd-dot"></span>
        <span class="cd-label">Summary</span>
      <% end %>
    </li>
  </ul>
 </nav>

<%= render 'section_one' %>
<%= render 'zendesk_section' %>
<%= render 'section_two' %>
<%= render 'section_three' %>
<%= render 'section_four' %>

<%= render 'footer' %>

<%= javascript_include_tag(
  'https://use.typekit.net/uod2sct.js',
  'https://use.fontawesome.com/bde7c9f856.js'
) %>
<%= javascript_tag('https://use.typekit.net/uod2sct.js') do %>
  try{Typekit.load({ async: false });}catch(e){}
<% end %>
