<h1>Details for Ticket #<%= @id %></h1>

<%= form_tag(ticket_path(params[:id]), method: :put) do %>
	<%= label_tag :comment, 'Add comment' %>
	<%= text_area_tag :comment, nil %>
	<%= submit_tag 'Add comment' %>
<% end %>

<% if @comments.present? %>
	<h2>Previous comments</h2>
	<ul>
		<% @comments.each do |comment| %>
			<li><%= comment.body %></li>
		<% end %>
	</ul>
<% end %>
